div {
    max-width: 800px;
    margin: 30px auto;
    p, h2, h1 {
        display: block;
    }
    h2 {
        margin-top: 30px;
    }
    h1{
        text-align: center;
    }
    .form-field {
        width: 100%;
    }

    .note-item {
        transition: all ease 0.3s;
        cursor: pointer;
        &:hover {
            background: #3f51b5;
            color: #fff;
        }
    }

}